Package: com.iosdump.zone
Name: Zone
Depends: mobilesubstrate, preferenceloader
Version: 0.0.2
Architecture: iphoneos-arm
Description: Interactive wallpapers.
Maintainer: iosdump
Author: iosdump
Section: Tweaks
