Package: com.iosdump.zone
Name: Zone
Depends: mobilesubstrate, preferenceloader
Version: 0.0.8
Architecture: iphoneos-arm
Description: Zone 插件用于设置.tendies交互壁纸/视频壁纸 支持iOS14-17
Maintainer: iosdump
Author: iosdump
Section: Tweaks
