<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ZoneCC</string>
    <key>CFBundleDisplayName</key>
    <string>Zone壁纸模式</string>
    <key>CFBundleExecutable</key>
    <string>ZoneCC</string>
    <key>CFBundleIdentifier</key>
    <string>com.iosdump.zonecc</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSPrincipalClass</key>
    <string>ZoneCCModule</string>
    <key>CCSModulePresentationOptions</key>
    <dict>
        <key>supportedInterfaceOrientations</key>
        <integer>30</integer>
    </dict>
</dict>
</plist>
